html, body {
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

textarea {
  resize: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  button {
    margin: 0;
  }
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: #eee url(../img/page-bg.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  filter: saturate(0.6);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.post-card  {
  overflow: visible;
  
  .mdl-card__title {
    background-position: center center;
    background-size: cover;
    
    color: #fff;
  }
  
  .mdl-card__supporting-text {
    width: 100%;
  }
  
  .mdl-card__title-text {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  }
  
  .post-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    
    button:first-child {
      margin-left: 5px;
    }
  }
  
  &.post-card-snippet {
    width: 100%;
    margin-bottom: 15px;
    
    animation: appear-left 0.5s 1;
    animation-timing-function: cubic-bezier(.55,0,.1,1);
    
    .mdl-card__title {
      height: 200px;
    }
    
    p {
      padding: 15px 20px 0;
    }
  }
  
  .mdl-card__actions {
    display: flex;
  }
  
  &.post-card-full {
    animation: appear-unfold 0.5s 1;
    animation-timing-function: cubic-bezier(.55,0,.1,1);
    transform-origin: top left;
    
    .mdl-card__title {
      height: 500px;
    }
    
    .post-content p {
      font-size: 16px;
      margin: 50px 100px;
    }
  }
}

.add-comment-form {
  min-height: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  background-color: #eee;
  padding: 20px 16px 20px 35px;
  
  color: #222;
  
  .mdl-textfield {
    width: 80%;
  }
}

.mdl-layout__content {
  padding-bottom: 100px;
}

.comment-card {
  min-height: 0;
  padding: 20px 16px 0;
  
  color: #222;
  
  .comment-card__header {
    display: flex;
    justify-content: space-between;
  }
  
  p {
    padding: 0 20px;
  }
  
  animation: appear-unfold 0.5s 1;
  animation-timing-function: cubic-bezier(.55,0,.1,1);
  transform-origin: top left;
} 

.return-btn {
  position: fixed;
  top: 120px;
  left: 20px;
  
  animation: appear-left .5s 1;
  animation-timing-function: cubic-bezier(.55,0,.1,1);
}

.add-post-form {  
  color: #222;
  
  .mdl-textfield {
    width: 100%;
  }
  
  .mdl-card__supporting-text {
    padding: 0 30px;
    width: 100%;
  }
  
  .mdl-card__actions {
    display: flex;
  }
  
  animation: appear-fade 0.3s 1;
  animation-timing-function: cubic-bezier(.55,0,.1,1);
}

@keyframes appear-unfold {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@keyframes appear-left {
  from {transform: translateX(-200px); opacity: 0;}
  to {transform: translateX(0px); opacity: 1;}
}

@keyframes appear-top {
  from {transform: translateX(-200px); opacity: 0;}
  to {transform: translateX(0px); opacity: 1;}
}

@keyframes appear-fade {
  from {opacity: 0}
  to {opacity: 1}
}

.pull-right {
  margin-left: auto;
}